/* Contendor principal */
.root {
    -fx-background-color: #061f33;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 9pt;
}
/* Barra de menu */
.menu-bar {
	-fx-background-color: #0e1621;
	-fx-font-size: 12pt;
}
.menu-bar .label {
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}
/* Archivos, Tema, Ayuda */
.menu-bar .menu-button:showing {
	-fx-background-color: #232f3d;
}
.menu-bar .menu-button:focused {
	-fx-background-color: #232f3d;
}
.menu-bar .menu-button:hover {
	-fx-background-color: #232f3d;
}
/* Contenido de los botones del menu */
.context-menu {
	-fx-background-color: #0e1621;
}
.context-menu .menu-item:focused {
	-fx-background-color: #232f3d;
}

/*Tabpane de la App */
.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: #061f33;
}

.tab-pane {
  -fx-tab-min-width:140px;
  -fx-tab-max-width:160px;
  -fx-tab-min-height:30px;
  -fx-tab-max-height:30px;
}

.tab-pane .tab {
	-fx-text-fill: white; 
}
.tab {
	-fx-background-color: #0e1621 ;
}

.tab-label {
	-fx-alignment: center ;
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 13pt;
}
.tab:selected {
	-fx-background-color: #232f3d ;
	-fx-font-size: 20pt;
	-fx-border-color: none ;
}

.tab:disabled {
	-fx-background-color: transparent ;
	-fx-border-color: none ;
}

.tab:focused {
	-fx-focus-color: transparent ;
}

.tab-pane *.tab-header-background {
	-fx-background-color: #4d636f ;
}

.tab:selected .focus-indicator {
	-fx-focus-color: transparent;
	-fx-border-color: transparent ;
}

/*BOTONES ADD, CARGAR,ETC. */
.btn-add {
    -fx-background-color: #68a3cf;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #FFFFFF;
}
.btn-add:hover {
	-fx-background-color: #69acb7;
    -fx-scale-y: 1.1;
    -fx-scale-X: 1.1;
}
/*BOTONES DE ELIMINAR */
.btn-remove{
	-fx-background-color: derive(#D50000, 60%);
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: #FFFFFF;
}

.btn-remove:hover {
	-fx-background-color: derive(#D50000, 45%);
    -fx-scale-y: 1.1;
    -fx-scale-X: 1.1;
}
/* BOTONES CHOICE */
.btn-choice {
	-fx-background-radius: 50px;
}
.btn-choice:hover {
	-fx-scale-y: 1.05;
    -fx-scale-X: 1.05;
}
/* LABELS */
.label {
    /* -fx-font-size: 11pt; */
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 0.9;
}

.label-title, .label-subtitle {
	-fx-font-family: "Segoe UI Light";
	-fx-text-fill: #FFFFFF;
}
.label-title {
	-fx-font-family: "Segoe UI Semibold";
	-fx-font-size: 20pt;
}

.label-subtitle {
	-fx-font-size: 15pt;
}

/*About */
.link-about {
	-fx-font-family: "Segoe UI Light";
}
/*Label de productos, crear dieta y menu y generar dieta y menu */
.label-content {
	-fx-font-family: "Segoe UI Light";
	-fx-font-size: 14pt;
}
/* Labels formulario datos perfil */
.label-form {
	-fx-font-family: "Segoe UI Light";
	-fx-font-size: 12pt;
}
.radio-button {
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 12pt;
}
/* Pie chart */
.chart-pie {
    -fx-background-insets: 0;
    -fx-border-width: 1px;
}

.chart-legend { 
	-fx-background-color: transparent;
	-fx-border-color: #232f3d;
	-fx-border-width: 2px;
	-fx-text-fill: #FFFFFF;
	-fx-font-family: "Segoe UI Light";
}
.chart-pie-label, .chart-pie-label-line {
	-fx-fill: #FFFFFF;
	-fx-stroke: #FFFFFF;
	-fx-font-family: "Segoe UI Light";
}