.root{
	-fx-background-color:#AFF4F3;
    
	}
.button{
	-fx-background-color:#00796B;

}
 .button:hover {
        -fx-background-color: white;
        -fx-scale-y: 1.1;
}



.list-cell {
	
    -fx-font-size: 12.0 ;
     -fx-padding: 5.0px;
      -fx-font-family: "Courier New";

       fx-width:40.0;
}


.list-cell:filled:hover {
    -fx-cell-hover-color: white;
    -fx-text-fill: blue;
}
.textfield{
-fx-border: none;
}

.menu-bar {
    -fx-background-color: derive(#0D47A1,10.0%);
}
.tab-pane{
	 -fx-background-color:#AFF4F3;
}
.tab {
  -fx-font-family: Arial;
  -fx-font-size: 16;
  -fx-background-color:royalblue ;
}
