/*
.root {
	-fx-background-color: #5C6BC0;
}

.tab {
	-fx-background-color: #3F51B5 ;
}

.tab .tab-label {
	-fx-alignment: center ;
}

.tab-pane .tab .label {
	-fx-text-fill: white; 
}
*/

/*LISTVIEW*/
/*
.list-cell:filled:selected .label {
	-fx-font-size: 20pt;
    -fx-text-fill: white;
}
*/

.root {
    /*-fx-background-color: #1F1B24;*/
    -fx-background-color: #303F9F;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 14pt;
    
}
.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}

.tab {
	-fx-background-color: #3949AB ;
}

.tab-label {
	-fx-alignment: center ;
	-fx-text-fill: #FFFFFF;
}

.tab-pane .tab {
	-fx-text-fill: white; 
}
.btn-success {
    -fx-background-color: #009688;
}

.label {
    /* -fx-font-size: 11pt; */
   /*  -fx-font-family: "Segoe UI Semibold";*/
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 0.9;
}

/*
.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}
*/
.menu-bar {
    -fx-background-color: #283593;
}

.context-menu {
    -fx-background-color: derive(#3F51B5,20%);
}

.menu-bar .label {
    /*-fx-font-size: 14pt;*/
    /*-fx-font-family: "Segoe UI Light";*/
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
	-fx-background-color: GREEN;
}
/*
.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
	-fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
*/